<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DAMA</title>
    <link rel="stylesheet" href="../css_files/css2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<div class="nav">
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
        <div class="nav-title">
            DAMA
        </div>
    </div>
    <div class="nav-btn">
        <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
        </label>
    </div>

    <div class="nav-links">
        <ul>
            <li>
                <form action="/accessories" method="post">
                    <select name="currency">
                        <option value="USD">USD</option>
                        <option value="KZT">KZT</option>
                        <option value="RUB">RUB</option>
                    </select><input type="submit"></form>
            </li>
            <li><a href="home">Home</a></li>
            <li><a href="cloth">Clothes</a></li>
            <li><a href="shoes">Shoes</a></li>
            <li><a href="accessories">Accessories</a></li>
            <li><a href="profile">Profile</a></li>
        </ul>
    </div>
</div>
<header>
    <div class="cart">

        <div class="cart-content">

        </div>
    </div>
</header>
<section class="shop container">
    <h2 class="section-title">ACCESSORIES</h2>
    <div class="shop-content">
        <div class="product-box">
            <img src="../Accessory/pandora1.png" alt="" class="product-img">
            <h2 class="product-title">Pandora Moments Bracelete</h2>
            <span class="price"><%= Math.round(ans)*80 %> <%=c%></span>
            <div class="btn">
                <a href="#">Create order</a>
            </div>
        </div>

        <div class="product-box">
            <img src="../Accessory/pandora2.png" alt="" class="product-img">
            <h2 class="product-title">Pandora x StarWars Bracelete</h2>
            <span class="price"><%= Math.round(ans)*80 %> <%=c%></span>
            <div class="btn">
                <a href="#">Create order</a>
            </div>
        </div>

        <div class="product-box">
            <img src="../Accessory/pandora3.png" alt="" class="product-img">
            <h2 class="product-title">Pandora ME Bracelete</h2>
            <span class="price"><%= Math.round(ans)*80 %> <%=c%></span>
            <div class="btn">
                <a href="#">Create order</a>
            </div>
        </div>

        <div class="product-box">
            <img src="../Accessory/ring1.png" alt="" class="product-img">
            <h2 class="product-title">Pandora Ring Tiara</h2>
            <span class="price"><%= Math.round(ans)*80 %> <%=c%></span>
            <div class="btn">
                <a href="#">Create order</a>
            </div>
        </div>

        <div class="product-box">
            <img src="../Accessory/ring2.png" alt="" class="product-img">
            <h2 class="product-title">Pandora Ring Sparkling Heart</h2>
            <span class="price"><%= Math.round(ans)*80 %> <%=c%></span>
            <div class="btn">
                <a href="#">Create order</a>
            </div>
        </div>

        <div class="product-box">
            <img src="../Accessory/ring3.png" alt="" class="product-img">
            <h2 class="product-title">Pandora Ring LOVE ME</h2>
            <span class="price"><%= Math.round(ans)*80 %> <%=c%></span>
            <div class="btn">
                <a href="#">Create order</a>
            </div>
        </div>
        <div class="product-box">
            <img src="../Accessory/Earrings1.png" alt="" class="product-img">
            <h2 class="product-title">Pandora Earrings Sparkling Heart</h2>
            <span class="price"><%= Math.round(ans)*80 %> <%=c%></span>
            <div class="btn">
                <a href="#">Create order</a>
            </div>
        </div>

        <div class="product-box">
            <img src="../Accessory/Earrings2.png" alt="" class="product-img">
            <h2 class="product-title">Pandora Earrings Brilliant Oval</h2>
            <span class="price"><%= Math.round(ans)*80 %> <%=c%></span>
            <div class="btn">
                <a href="#">Create order</a>
            </div>
        </div>

        <div class="product-box">
            <img src="../Accessory/Earrings3.png" alt="" class="product-img">
            <h2 class="product-title">Earrings Earrings Golden Snitch, Harry Potter</h2>
            <span class="price"><%= Math.round(ans)*80 %> <%=c%></span>
            <div class="btn">
                <a href="#">Create order</a>
            </div>
        </div>
    </div>
</section>
<div class="orderWindow">
    <div class="orderContainer">
        <div class="orderBody">
            <p>Create Order</p>
            <form action="">
                <input type="text" class="name" placeholder="Name" pattern="[A-Za-z]{3,}" title="Only letters">
                <input type="text" class="phone" placeholder="Phone number" pattern="[0-9]{11}" title="Only 11 numbers">
                <input type="text" class="mail" placeholder="E-mail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                       title="E-mail should be smth@smth.smth">
                <input type="text" class="city" placeholder="City" pattern="[A-Za-z]{5, 15}" title="Only letters">
                <input type="text" class="index" placeholder="Post Index" pattern="[0-9]{6}" title="Only 6 numbers">
                <button class="ordering">Order</button>
            </form>
            <div class="windowClose">&#10006</div>
        </div>
    </div>
</div>

<div class="successWindow">
    <div class="successContainer">
        <div class="successBody">
            <p>YOUR ORDER WAS CREATED SUCCESSFULLY!</p>
            <div class="successClose">&#10006</div>
        </div>
    </div>
</div>

<footer>
    <div class="footer-content" id="202">
        <h3>CONTACTS</h3>
        <p>If you have any questions, please contact us on these social networks </p>
        <ul class="socials">
            <li><a href="https://www.facebook.com/profile.php?id=100078459212054&sk=about"><i
                            class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/MeirkhanA"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UCo9K3OdfyUlujvBFHV11oDQ"><i class="fa fa-youtube"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>

        </ul>
    </div>
    <div class="footer-bottom">
        <p>copyright &copy; 2022 DAMA designed by <span>DAMA</span></p>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="../js_files/order.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>
