<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Admin page</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/headers/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="../../css_files/binarasAttempt.css">
</head>
<body>
<div class="navnav">
    <div class="nav-header">
        <div class="nav-title">
            DAMA
        </div>
    </div>

    <div class="nav-links">
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/cloth">Clothes</a></li>
            <li><a href="/shoes">Shoes</a></li>
            <li><a href="/accessories">Accessories</a></li>
            <li><a href="/profile">Profile</a></li>
        </ul>
    </div>
</div>
<main>
    <div class="container">
        <header class="d-flex justify-content-center py-3">
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="/seller/profile" class="nav-link active" aria-current="page">My profile</a>
                </li>
                <li class="nav-item"><a href="/seller/create" class="nav-link">Create new</a></li>
                <!--                <li class="nav-item"><a href="/seller/stock" class="nav-link">Change Stock</a></li>-->
                <li class="nav-item"><a href="/seller/update" class="nav-link">Update</a></li>
                <li class="nav-item"><a href="/seller/delete" class="nav-link">Delete</a>
                </li>
            </ul>
        </header>
    </div>
</main>
<main>
    <div class="container">
        <div class="col-md-7 col-lg-8">
            <br>
            <h4 class="mb-3">My profile: </h4>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <h5>Username</h5>
                    </div>
                    <div class="col-md-9 text-secondary">
                        <%= username %>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-3">
                        <h5>Email</h5>
                    </div>
                    <div class="col-md-9 text-secondary">
                        <%= email %>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-3">
                        <h5>Phone number</h5>
                    </div>
                    <div class="col-md-9 text-secondary">
                        <%= phone %>
                    </div>
                </div>
            </div>
            <br>
            <div class="row g-3">
                <% if(prod.length === 0){ %>
                    <h5 class="mb-3">Nothing to show. Consider <a href="/seller">creating new product</a>?</h5>
                <% } else{ %>
                    <h5 class="mb-3">My products: </h5>
                    <table>
                        <tr>
                            <td>Name</td>
                            <td>Type</td>
                            <td>Price (in $)</td>
                            <td>Quantity</td>
                        </tr>

                        <% for(let i = 0;i < prod.length;i++){ %>
                            <tr>
                                <td><%= prod[i].name %></td>
                                <td><%= prod[i].type %></td>
                                <td><%= prod[i].price %></td>
                                <td><%= prod[i].quantity %></td>
                            </tr>
                        <% } %>
                    </table>
                <% } %>
            </div>
        </div>
    </div>
</main>
<footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">All credits to: </p>
    <ul class="list-inline">
        <li class="list-inline-item"><a href="https://shrouded-chamber-34995.herokuapp.com/">our teacher's website!</a>
        </li>
    </ul>
    <form action="/logout" method="POST">
        <button>Logout</button>
    </form>
</footer>
<script src="/docs/5.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>


</body>
</html>
